.link {
  &:hover {
    @apply opacity-50;
  }
}
.link-underline{
  @apply underline;
  text-decoration-color: rgba(0,0,0,0.5);
  &:hover {
    @apply opacity-50;
  }
}

.link-italic {
  @apply italic;
  &:hover {
    @apply opacity-50;
  }
}

/////// ALT

$styleAlt: "ss01" on, "ss02" on;

.styleAlt {
  -moz-font-feature-settings: $styleAlt;
  -webkit-font-feature-settings: $styleAlt;
  font-feature-settings: $styleAlt;
}
